$primary-background-color: #fafafa;
$primary-text-color:  #212121;
$secondary-text-color: #757575;
$error-text-color: red;
$background-color-title: rgba(47, 48, 58, 0.8);
$primary-font-family: Roboto, sans-serif;

$form-background-color: #ffffff;
$form-border-color: #e0e0e0;
$input-border-color: #cccccc;
$input-focus-color: #000000;
$button-bg-color: #333333;
$button-hover-color: #555555;
